<div class="product-list">
  <mat-toolbar color="primary">
    <span>Product List</span>
    <span class="spacer"></span>
    
  </mat-toolbar>
  <div class="product-container">
    <div class="product-item" *ngFor="let product of products">
      <mat-card class="product-card">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>{{ product.title }}</mat-card-title>
            <mat-card-subtitle>
              <div>{{ product.category.name }}</div>
              <div>Price: {{ product.price | currency }}</div>
            </mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <img mat-card-image [src]="product.images[0]" alt="{{ product.title }}">
        <mat-card-content>
          <p>{{ product.description }}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="selectProduct(product)">Buy</button>
          
          
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
  
  <div *ngIf="selectedProduct">
    <h2>Selected Product</h2>
    <p>{{ selectedProduct.title }} - ${{ selectedProduct.price}}.00</p>
    <app-paypal-button [product]="selectedProduct"></app-paypal-button>
  </div>
  